<?xml version="1.0" encoding="utf-8" standalone="no"?>
<!--https://github.com/phonegap/phonegap-start/blob/master/www/config.xml  P:Shivam123-->
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.shivam.sah"
        version="1.0.5"
        android-versionCode="100105" >

    <name>Sahyadri Hospitals</name>
    <description>
        SHL offers comprehensive clinical services under one roof with an active Transplant Program. The hospital provides round the clock network of Emergency services , Diagnostic services, a Blood Bank facility and a Pharmacy supported by a team of expert senior clinical consultants working in a full-time capacity. The active association with over 150 clinical consultants adds a unique strength to BAGH and enables us to achieve the highest outcomes for our patients capacity.
    </description>
    <author email="arun@shivammedisoft.com" href="https://www.baghospital.com/">
        Shivam Medisoft Services Pvt. Ltd.
    </author>
    <content src="app.html"/>
    <preference name="scheme" value="app" />
    <preference name="hostname" value="localhost" />
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="*" />
    <platform name="ios">
            <edit-config target="*-Info.plist" parent="LSApplicationQueriesSchemes" mode="merge">
                <array>
                    <string>upi</string>
                    <string>phonepe</string>
                    <string>googlepay</string>
                    <string>paytm</string>
                </array>
            </edit-config>
                <edit-config platform="ios" target="*-Info.plist" parent="NSAppTransportSecurity" mode="merge">
            <dict>
                <key>NSAllowsArbitraryLoads</key> <true/>
            </dict>
        </edit-config>


    </platform>
    <!--    for android-->


    <plugin name="cordova-plugin-inappbrowser"   spec="6.0.0" source="npm" />
    <plugin name= "cordova-plugin-network-information" source="npm" spec="2.0.2"/>
<!--    <plugin name= "cordova-custom-config" source="npm" spec="5.1.1"/>-->
    <plugin name= "cordova-plugin-networkinterfaces" source="npm" spec="2.0.0"/>
    <plugin name="cordova-plugin-wkwebview-file-xhr" source="npm" version="3.0.0" />


    <!-- default-->
    <icon src="resources/baghicons/android/icon.png" />

    <platform name="ios">




        <icon src="resources/baghicons/ios/shl180.png" width="180" height="180" />
        <!-- iPhone / iPod Touch  -->
        <!--        <icon src="resources/baghicons/ios/Icon-App-60x60@3x.png" width="180" height="180" />-->
        <!-- iPhone / iPod Touch  -->
        <icon src="resources/baghicons/ios/shl60.png" width="60" height="60" />
        <icon src="resources/baghicons/ios/shl120.png" width="120" height="120" />
        <!-- iPad -->
        <icon src="resources/baghicons/ios/shl76.png"  width="76" height="76" />
        <icon src="resources/baghicons/ios/shl152.png" width="152" height="152" />
        <icon src="resources/baghicons/ios/shl167.png" width="167" height="167" />
        <icon src="resources/baghicons/ios/shl1024.png" width="1024" height="1024" />
        <!-- Settings Icon -->
        <icon src="resources/baghicons/ios/shl29.png" width="29" height="29" />
        <icon src="resources/baghicons/ios/shl58.png" width="58" height="58" />
        <!-- Spotlight Icon -->
        <icon src="resources/baghicons/ios/shl40.png" width="40" height="40" />
        <icon src="resources/baghicons/ios/shl80.png" width="80" height="80" />
        <icon src="resources/baghicons/ios/shl120.png" width="120" height="120" />

        <!--        <icon src="resources/baghicons/ios/Icon-App-83.5x83.5@2x.png"  width="167" height="167" />-->
        <!--<icon src="resources/baghicons/ios/57by57.png" width="57" height="57" />-->
        <icon src="resources/baghicons/ios/shl114.png"  width="114" height="114" />
        <!-- iPad -->
        <icon src="resources/baghicons/ios/shl72.png" width="72" height="72" />
        <icon src="resources/baghicons/ios/shl87.png" width="87" height="87" />
        <!-- iPad Spotlight and Settings Icon -->
        <icon src="resources/baghicons/ios/shl50.png" width="50" height="50" />
        <!--        <icon src="resources/baghicons/ios/100by100.png" width="50" height="50" />-->
        <!--        <icon src="resources/baghicons/ios/1024by1024.png" width="1024" height="1024" />-->
    </platform>



    <engine name="ios"/>
</widget>
