<?xml version="1.0" encoding="utf-8" standalone="no"?>
<!--https://github.com/phonegap/phonegap-start/blob/master/www/config.xml  P:Shivam123-->
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.shivam.sah"
        version="1.0.4"
        android-versionCode="100004" >
    <name>Sahyadri Hospitals</name>
    <description>
        SHL offers comprehensive clinical services under one roof with an active Transplant Program. The hospital provides round the clock network of Emergency services , Diagnostic services, a Blood Bank facility and a Pharmacy supported by a team of expert senior clinical consultants working in a full-time capacity. The active association with over 150 clinical consultants adds a unique strength to BAGH and enables us to achieve the highest outcomes for our patients capacity.
    </description>
    <author email="sharad@shivammedisoft.com" href="https://www.baghospital.com/">
        Shivam Medisoft Services Pvt. Ltd.
    </author>
    <content src="app.html"/>
    <preference name="permissions" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="prerendered-icon" value="true" />
    <preference name="Orientation" value="portrait" />
    <preference name="fullscreen" value="false" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="StatusBarBackgroundColor" value="#31708F" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="true" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-targetSdkVersion" value="34"/>
    <preference name="android-minSdkVersion" value="24" />
    <preference name="android-compileSdkVersion" value="34" />
    <preference name="android-installLocation" value="auto" />
    <preference name="LoadingDialog" value="Please wait, the app is loading"/>
    <preference name="AllowInlineMediaPlayback" value="true"/>
    <preference name="SplashScreenDelay" value="100"/>
    <preference name="KeepRunning" value="true"/>
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="StatusBarBackgroundColor" value="#ffffff" />
    <preference name="AndroidExtraFilesystems" value="files,files-external,documents,sdcard,cache,cache-external,assets,root" />
<!--    <preference name="CustomURLScheme" value="mycoolapp" />-->
    <!--    <plugin name="cordova.plugins.diagnostic" />-->
<!--    <preference name="cordova.plugins.diagnostic.modules" value="LOCATION BLUETOOTH WIFI CAMERA NOTIFICATIONS MICROPHONE CONTACTS CALENDAR REMINDERS MOTION NFC EXTERNAL_STORAGE" />-->
    <plugin name="cordova-plugin-file" source="npm" />
<!--    <plugin name="upi-intent" source="npm" />-->
<!--    <plugin name="cordova-plugin-customurlscheme" source="npm" />-->
    <plugin name="cordova-plugin-geolocation" source="npm"/>
    <edit-config target="NSCameraUsageDescription" file="*-Info.plist" mode="merge">
        <string>to take pictures/scan barcodes</string>
    </edit-config>
    <edit-config target="NSPhotoLibraryUsageDescription" file="*-Info.plist" mode="merge">
        <string>to get pictures</string>
    </edit-config>
    <edit-config target="NSLocationWhenInUseUsageDescription" file="*-Info.plist" mode="merge">
        <string>need location access to find things nearby</string>
    </edit-config>

    <edit-config target="NSPhotoLibraryAddUsageDescription" file="*-Info.plist" mode="merge">
        <string>need photo library access to save pictures there</string>
    </edit-config>
    <plugin name="cordova-plugin-badge" source="npm"  />
    <plugin name="cordova-plugin-phonedialer" source="npm" />
    <plugin name="cordova-plugin-x-socialsharing" source="npm" />
    <plugin name="cordova-plugin-upi" source="npm" />
<!--    <plugin name= "cordova-plugin-print-pdf" source="npm"/>-->
<!--    <plugin name="cordova-filechooser" spec="https://github.com/ihadeed/cordova-filechooser.git" source="git" />-->
    <plugin name="cordova-plugin-device" spec="https://github.com/apache/cordova-plugin-device.git" source="git" />
    <plugin name="cordova-plugin-device-motion" spec="https://github.com/apache/cordova-plugin-device-motion.git" source="git" />
<!--    &lt;!&ndash; <plugin name="cordova-plugin-device-orientation" spec="https://github.com/apache/cordova-plugin-device-orientation.git" source="git" /> &ndash;&gt;-->
<!--     <plugin name="cordova-plugin-device-orientation" spec="https://github.com/apache/cordova-plugin-device-orientation.git" source="git" />-->
    <plugin name="cordova-plugin-dialogs" spec="https://github.com/apache/cordova-plugin-dialogs.git" source="git" />
    <plugin name="cordova-plugin-splashscreen" spec="https://github.com/apache/cordova-plugin-splashscreen.git" source="git" />
    <plugin name="cordova-plugin-network-information" spec="https://github.com/apache/cordova-plugin-network-information.git" source="git" />
    <plugin name="NetworkInterfacePlugin" spec="https://github.com/salbahra/NetworkInterfacePlugin.git" source="git" />
<!--    <plugin name="cordova-plugin-file-transfer" spec="https://github.com/Priyansu431/cordova-plugin-file-transfer.git" />-->
    <plugin name="cordova-plugin-androidx" source="npm"/>
    <plugin name="cordova-plugin-camera" source="git" spec="https://github.com/DaedalusDev/cordova-plugin-camera.git"/>
    <plugin name="cordova-plugin-androidx-adapter" source="npm"/>
    <plugin name="cordova-plugin-file-transfer" source="npm"/>
    <plugin name="cordova-plugin-advanced-http" source="npm"/>
    <preference name="Scheme" value="https" />
    <preference name="InAppBrowserStatusBarStyle" value="lightcontent" />
    <plugin name="cordova-plugin-app-version" source="npm" />
    <plugin name="cordova-plugin-datepicker" spec="https://github.com/VitaliiBlagodir/cordova-plugin-datepicker" source="git" />
    <plugin name="SpinnerDialog" spec="https://github.com/Paldom/SpinnerDialog.git" source="git" />
    <plugin name="cordova-plugin-inappbrowser" spec="https://github.com/apache/cordova-plugin-inappbrowser.git" source="git" />
    <plugin name="cordova-plugin-inappbrowser" spec="5.0.0" source="npm" />
    <plugin name="cordova-plugin-keyboard" spec="https://github.com/cjpearson/cordova-plugin-keyboard" source="git" />
<!--    <plugin name="cordova-plugin-openfilenative" spec="https://github.com/andischerer/cordova-plugin-openfilenative.git" source="git" />-->
    <plugin name="cordova-plugin-statusbar" spec="https://github.com/apache/cordova-plugin-statusbar.git" source="git" />
    <plugin name="cordova-plugin-market" spec="https://github.com/xmartlabs/cordova-plugin-market" source="git" />
<!--    <plugin name="cordova-plugin-qr-barcode-scanner" source="npm" />-->
    <plugin name="cordova-plugin-camera" source="npm"  />
    <plugin name="cordova-plugin-file-opener2" source="npm" />
    <plugin name="cordova-plugin-android-permissions" source="npm">
        <variable name="storage" value="would like to access storage." />
    </plugin>
    <icon src="resources/baghicons/android/icon.png" />
        <splash src="resources/baghicons/android/icon.png" />
        <splash src="resources/baghicons/android/icon.png" density="mdpi"/>
        <splash src="resources/baghicons/android/icon.png" density="hdpi"/>
        <splash src="resources/baghicons/android/icon.png" density="xhdpi"/>
        <splash src="resources/baghicons/android/icon.png" density="xxhdpi"/>
        <splash src="resources/baghicons/android/icon.png" density="xxxhdpi"/>
    <plugin name="cordova-plugin-sms-retriever-manager" source="npm" />
    <platform name="android">
        <resource-file src="google-services.json" target="app/google-services.json" />
        <preference name="hostname" value="localhost" />
        <preference name="AndroidInsecureFileModeEnabled" value="true" />
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application/activity">

            <activity android:hardwareAccelerated="true" />
            <service android:exported="true"/>
            <receiver android:exported="true"/>
            <application android:usesCleartextTraffic="true" />
        </edit-config>
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:networkSecurityConfig="@xml/network_security_config" />
            <application android:usesCleartextTraffic="true" />
            <application android:requestLegacyExternalStorage="true" />
        </edit-config>
        <platform name="android">
            <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/activity">
                <uses-permission android:name="android.permission.CAMERA" />
                <uses-feature android:name="android.hardware.camera" android:required="true" />
                <uses-feature android:name="android.hardware.camera.autofocus" />
                <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            </edit-config>
        </platform>
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true"/>
        </edit-config>
        <edit-config target="NSPhotoLibraryUsageDescription" file="*-Info.plist" mode="merge">
            <string>need to photo library access to get pictures from there</string>
        </edit-config>
        <resource-file src="resources/android/xml/network_security_config.xml" target="app/src/main/res/xml/network_security_config.xml" />
<!--        <icon src="resources/baghicons/android/icon.png" />-->
<!--        <icon src="resources/baghicons/android/icon.png" density="ldpi"/>-->
<!--        <icon src="resources/baghicons/android/icon.png" density="mdpi"/>-->
<!--        <icon src="resources/baghicons/android/icon.png" density="hdpi"/>-->
<!--        <icon src="resources/baghicons/android/icon.png" density="xhdpi"/>-->

        />
        <feature name="InAppBrowser">
            <param name="android-package" value="org.apache.cordova.InAppBrowser" />
        </feature>
        <feature name="Camera">
            <param name="android-package" value="org.apache.cordova.CameraLauncher" />
        </feature>
        <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />

        <preference name="AllowUntrustedCerts" value="on" />
        <preference name="InterceptRemoteRequests" value="all" />
        <preference name="NativeXHRLogging" value="full" />

        <preference name="allowFileAccessFromFileURLs" value="true" />
        <preference name="allowUniversalAccessFromFileURLs" value="true" />



        <icon src="resources/baghicons/ios/shl180.png" width="180" height="180" />
        <!-- iPhone / iPod Touch  -->
        <!--        <icon src="resources/baghicons/ios/Icon-App-60x60@3x.png" width="180" height="180" />-->
        <!-- iPhone / iPod Touch  -->
        <icon src="resources/baghicons/ios/shl60.png" width="60" height="60" />
        <icon src="resources/baghicons/ios/shl120.png" width="120" height="120" />
        <!-- iPad -->
        <icon src="resources/baghicons/ios/shl76.png"  width="76" height="76" />
        <icon src="resources/baghicons/ios/shl152.png" width="152" height="152" />
        <!-- Settings Icon -->
        <icon src="resources/baghicons/ios/shl29.png" width="29" height="29" />
        <icon src="resources/baghicons/ios/shl58.png" width="58" height="58" />
        <!-- Spotlight Icon -->
        <icon src="resources/baghicons/ios/shl40.png" width="40" height="40" />
        <icon src="resources/baghicons/ios/shl80.png" width="80" height="80" />
        <icon src="resources/baghicons/ios/shl120.png" width="120" height="120" />

        <!--        <icon src="resources/baghicons/ios/Icon-App-83.5x83.5@2x.png"  width="167" height="167" />-->
        <!--<icon src="resources/baghicons/ios/57by57.png" width="57" height="57" />-->
        <icon src="resources/baghicons/ios/shl114.png"  width="114" height="114" />
        <!-- iPad -->
        <icon src="resources/baghicons/ios/shl72.png" width="72" height="72" />
        <icon src="resources/baghicons/ios/shl87.png" width="87" height="87" />
        <!-- iPad Spotlight and Settings Icon -->
        <icon src="resources/baghicons/ios/shl50.png" width="50" height="50" />
        <!--        <icon src="resources/baghicons/ios/100by100.png" width="50" height="50" />-->
        <!--        <icon src="resources/baghicons/ios/1024by1024.png" width="1024" height="1024" />-->

    </platform>
    <access origin="*"/>
    <access origin="content:///*" />
    <access uri="*" subdomains="true" />
    <access launch-external="yes" origin="whatsapp://*" />
    <access origin="tel:*" launch-external="yes" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-navigation href="data:*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="whatsapp:*" />
    <allow-navigation href="*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-navigation href="data:*" />
    <platform name="android">
        <allow-intent href="whatsapp:*" />
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="android-build-tool" value="gradle" />
    <engine name="android"/>
</widget>