<?xml version="1.0" encoding="utf-8" standalone="no"?>
<!--https://github.com/phonegap/phonegap-start/blob/master/www/config.xml  P:Shivam123-->
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.shivam.sah"
        version="1.0.2"
        android-versionCode="100101" >
    <name>Sahyadri Hospitals</name>
    <description>
        SHL offers comprehensive clinical services under one roof with an active Transplant Program. The hospital provides round the clock network of Emergency services , Diagnostic services, a Blood Bank facility and a Pharmacy supported by a team of expert senior clinical consultants working in a full-time capacity. The active association with over 150 clinical consultants adds a unique strength to BAGH and enables us to achieve the highest outcomes for our patients capacity.
    </description>
    <author email="arun@shivammedisoft.com" href="https://www.baghospital.com/">
        Shivam Medisoft Services Pvt. Ltd.
    </author>
    <content src="app.html"/>
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="prerendered-icon" value="true" />
    <preference name="fullscreen" value="true" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="StatusBarBackgroundColor" value="#31708F" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="true" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-targetSdkVersion" value="29"/>
    <preference name="android-minSdkVersion" value="22" />
    <preference name="android-installLocation" value="auto" />
    <preference name="LoadingDialog" value="Please wait, the app is loading"/>
    <preference name="AllowInlineMediaPlayback" value="true"/>
    <preference name="SplashScreenDelay" value="3000"/>
    <preference name="KeepRunning" value="true"/>
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <plugin name="cordova.plugins.diagnostic" spec="6.0.2"/>
    <preference name="cordova.plugins.diagnostic.modules" value="LOCATION BLUETOOTH WIFI CAMERA NOTIFICATIONS MICROPHONE CONTACTS CALENDAR REMINDERS MOTION NFC EXTERNAL_STORAGE" />
    <preference name="stay-in-webview" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="scheme" value="app" />
    <preference name="hostname" value="localhost" />
    <!-- Plugins -->
    <!-- Core plugins -->
    <plugin name="cordova-plugin-camera" source="npm" spec="5.0.1"/>
    <plugin name="cordova-plugin-camera" source="npm" spec="5.0.1">
        <variable name="CAMERA_USAGE_DESCRIPTION" value="App would like to access the camera." />
        <variable name="MICROPHONE_USAGE_DESCRIPTION" value="App would like to access the microphone." />
        <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value="App would like to access the library." />
    </plugin>
    <plugin name="cordova-plugin-media-capture" source="npm" spec="3.0.3"/>
    <plugin name="cordova-plugin-media-capture" source="npm" spec="3.0.3">
        <variable name="CAMERA_USAGE_DESCRIPTION" value="App would like to access the camera." />
        <variable name="MICROPHONE_USAGE_DESCRIPTION" value="App would like to access the microphone." />
        <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value="App would like to access the library." />
    </plugin>
    <plugin name="cordova-plugin-file" source="npm" spec="6.0.2" />
    <plugin name="cordova-plugin-geolocation" source="npm" spec="4.0.2"/>
    <platform name="ios">
        <edit-config target="NSCameraUsageDescription" file="*-Info.plist" mode="merge">
            <string>to take pictures/scan barcodes</string>
        </edit-config>
        <edit-config target="NSPhotoLibraryUsageDescription" file="*-Info.plist" mode="merge">
            <string>to get pictures</string>
        </edit-config>
        <edit-config target="NSLocationWhenInUseUsageDescription" file="*-Info.plist" mode="merge">
            <string>need location access to find things nearby</string>
        </edit-config>
        <edit-config target="NSPhotoLibraryAddUsageDescription" file="*-Info.plist" mode="merge">
            <string>need photo library access to save pictures there</string>
        </edit-config>
    </platform>
    <!--    for android-->
    <plugin name="cordova-plugin-badge" source="npm"  spec="0.8.8"/>
    <plugin name="cordova-plugin-email-composer" source="npm"/>
    <plugin name="cordova-plugin-phonedialer" source="npm" spec="0.3.1"/>
    <plugin name="cordova-plugin-x-socialsharing" source="npm" spec="6.0.3"/>
    <plugin name= "cordova-plugin-print-pdf" source="npm" spec="4.0.2"/>
    <plugin name="cordova-plugin-androidx" source="npm"/>
    <plugin name="cordova-plugin-advanced-http" source="npm" spec="3.1.0"/>
    <plugin name="cordova-plugin-httpd-cors" source="npm" spec="0.9.9"/>
    <plugin name="cordova-plugin-fileopener" source="npm" spec="1.0.5"/>
    <plugin name="cordova-plugin-app-version" source="npm" spec="0.1.11"/>
    <plugin name="cordova-plugin-inappbrowser"   spec="https://github.com/apache/cordova-plugin-inappbrowser.git" source="git" />
    <plugin name= "cordova-filechooser" source="npm" spec="1.0.3"/>
    <plugin name= "cordova-plugin-device" source="npm" spec="2.0.3"/>
    <plugin name= "cordova-plugin-dialogs" source="npm" spec="2.0.2"/>
    <plugin name= "cordova-plugin-network-information" source="npm" spec="2.0.2"/>
    <plugin name= "cordova-plugin-networkinterfaces" source="npm" spec="2.0.0"/>
    <plugin name= "cordova-plugin-datepicker" source="npm" spec="0.9.3"/>
    <plugin name= "cordova-plugin-spinnerdialog" source="npm" spec="1.3.2"/>
    <plugin name= "cordova-plugin-keyboard" source="npm" spec="1.2.0"/>
    <plugin name= "cordova-plugin-openfilenative" source="npm" spec="1.1.0"/>
    <plugin name= "cordova-plugin-statusbar" source="npm" spec="2.4.3"/>
    <plugin name= "cordova-plugin-market" source="npm" spec="1.2.0"/>
    <plugin name= "cordova-plugin-nativestorage" source="npm" spec="2.3.2"/>
    <plugin name="cordova-plugin-wkwebview-file-xhr" source="npm" version="3.0.0" />
    <plugin name= "cordova-plugin-splashscreen" source="npm" spec="6.0.0"/>
    <plugin name= "cordova-plugin-splashscreen" source="npm" spec="6.0.0"/>
    <plugin name="cordova-plugin-file-transfer-latest"  source="npm" spec="2.0.2-dev" />
    <plugin name="cordova-plugin-qr-barcode-scanner" source="npm"  spec="8.0.3"/>
    <plugin name= "cordova-plugin-filepicker" source="npm" spec="1.1.6"/>


    <!-- default-->
    <icon src="resources/baghicons/android/icon.png" />
    <platform name="android">
        <resource-file src="google-services.json" target="app/google-services.json" />
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application" xmlns:android="http://schemas.android.com/apk/res/android">
            <application android:usesCleartextTraffic="true" />
            <application android:requestLegacyExternalStorage="true" />
            <application android:requestLegacyExternalStorage="@xml/storage" />
            <!--            <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />-->
            <!--            <application android:permission.WRITE_EXTERNAL_STORAGE="true" />-->
            <!--            <application android:permission.READ_EXTERNAL_STORAGE="true" />-->
            <application android:networkSecurityConfig="@xml/network_security_config" />
            <!--            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
            <!--            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->
        </edit-config>
        <edit-config target="NSPhotoLibraryUsageDescription" file="*-Info.plist" mode="merge">
            <string>need to photo library access to get pictures from there</string>
        </edit-config>
        <resource-file src="resources/android/xml/network_security_config.xml" target="app/src/main/res/xml/network_security_config.xml" />
        <resource-file src="resources/android/xml/storage.xml" target="app/src/main/res/xml/storage.xml" />
        <icon src="resources/baghicons/android/icon.png" width="180" height="180" />

        <icon src="resources/baghicons/android/icon.png" density="ldpi"/>
        <icon src="resources/baghicons/android/icon.png" density="mdpi"/>
        <icon src="resources/baghicons/android/icon.png" density="hdpi"/>
        <icon src="resources/baghicons/android/icon.png" density="xhdpi"/>
        <!-- <resource-file src="resources/android/xml/network_security_config.xml" target="res/xml/network_security_config.xml" />-->
        <!--        <icon src="resources/baghicons/android/icon.png" />-->
        <!--
    android spalsh -->
        <!--        <splash src="resources/baghsplash/android/272by482.png" density="ldpi" />-->
        <!--        <splash src="resources/baghsplash/android/362by642.png" density="mdpi" />-->
        <!--        <splash src="resources/baghsplash/android/542by962.png" density="hdpi" />-->
        <!--        <splash src="resources/baghsplash/android/722by1282.png" density="xhdpi" />-->

        <feature name="InAppBrowser">
            <param name="android-package" value="org.apache.cordova.InAppBrowser" />
        </feature>
    </platform>

    <platform name="ios">
        <preference name="WKWebViewOnly" value="true" />

        <feature name="CDVWKWebViewEngine">`
            <param name="ios-package" value="CDVWKWebViewEngine" />
        </feature>
        <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />

        <preference name="AllowUntrustedCerts" value="on" />
        <preference name="InterceptRemoteRequests" value="all" />
        <preference name="NativeXHRLogging" value="full" />

        <preference name="allowFileAccessFromFileURLs" value="true" />
        <preference name="allowUniversalAccessFromFileURLs" value="true" />



        <icon src="resources/baghicons/ios/shl 180.png" width="180" height="180" />
        <!-- iPhone / iPod Touch  -->
        <!--        <icon src="resources/baghicons/ios/Icon-App-60x60@3x.png" width="180" height="180" />-->
        <!-- iPhone / iPod Touch  -->
        <icon src="resources/baghicons/ios/shl 60.png" width="60" height="60" />
        <icon src="resources/baghicons/ios/shl 120.png" width="120" height="120" />
        <!-- iPad -->
        <icon src="resources/baghicons/ios/shl 76.png"  width="76" height="76" />
        <icon src="resources/baghicons/ios/shl 152.png" width="152" height="152" />
        <!-- Settings Icon -->
        <icon src="resources/baghicons/ios/shl 29.png" width="29" height="29" />
        <icon src="resources/baghicons/ios/shl 58.png" width="58" height="58" />
        <!-- Spotlight Icon -->
        <icon src="resources/baghicons/ios/shl 40.png" width="40" height="40" />
        <icon src="resources/baghicons/ios/shl 80.png" width="80" height="80" />
        <icon src="resources/baghicons/ios/shl 120.png" width="120" height="120" />

        <!--        <icon src="resources/baghicons/ios/Icon-App-83.5x83.5@2x.png"  width="167" height="167" />-->
        <!--<icon src="resources/baghicons/ios/57by57.png" width="57" height="57" />-->
        <icon src="resources/baghicons/ios/shl 114.png"  width="114" height="114" />
        <!-- iPad -->
        <icon src="resources/baghicons/ios/shl 72.png" width="72" height="72" />
        <icon src="resources/baghicons/ios/shl 87.png" width="87" height="87" />
        <!-- iPad Spotlight and Settings Icon -->
        <icon src="resources/baghicons/ios/shl 50.png" width="50" height="50" />
        <!--        <icon src="resources/baghicons/ios/100by100.png" width="50" height="50" />-->
        <!--        <icon src="resources/baghicons/ios/1024by1024.png" width="1024" height="1024" />-->

    </platform>

    <access origin="content:///*" />
    <access origin="*" subdomains="true"/>
    <access launch-external="yes" origin="whatsapp://*" />
    <access origin="tel:*" launch-external="yes" />

    <!-- Added the following intents to support the removal of whitelist code from base cordova to a plugin -->
    <!-- Whitelist configuration. Refer to https://cordova.apache.org/docs/en/edge/guide_appdev_whitelist_index.md.html -->
    <plugin name="cordova-plugin-whitelist" spec="1.3.4" source="npm"/>
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="whatsapp:*" />
    <allow-navigation href="*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-navigation href="data:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="android-build-tool" value="gradle" />
    <engine name="ios"/>
</widget>